body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#malla-container {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 10px;
  position: relative;
}

.materia {
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.aprobada {
  background-color: #c8e6c9;
  border-color: #2e7d32;
}
